.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 1rem;
  width: 50%;
}
.footer {
  background-color: gray;
  padding: 0.5rem 1rem 1rem 0.1rem;
  text-align: center;
  /* padding-inline-start: 0px; */
  color: black;
  border-top-right-radius: 1rem;
}
.footer .footer-header {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: large;
}
.list-item-inline {
  display: inline;
}

.footer .link {
  color: black;
}
ul {
  padding-inline-start: 1rem;
}

.footer ul {
  padding-inline-start: 0px;
}
